<div class="container">
  <div>
    <label>V1: </label>
    <app-c1 [value]="v1$ | async"></app-c1>
  </div>

  <div class="mt-3">
    <label>V2: </label>
    <app-c1 [value]="v2$ | async"></app-c1>
  </div>

  <div class="mt-3">
    <button class="btn btn-primary" [disabled]="started" (click)="onStartClicked()">Start</button>
    <button class="btn btn-secondary ml-2" [disabled]="!started"  (click)="onStopClicked()">Stop</button>
    <button class="btn btn-light ml-2" (click)="onResetClicked()">Reset</button>
  </div>

</div>
